.root{
    -fx-font-size: 16px;
    -fx-background-image: url("https://strana.ua/img/article/2625/70_main.jpeg");
    -fx-background-size: 100% 100%;
}

.button{
    -fx-background-color: yellow;
}

#btnAdd{
    -fx-background-color: orange;
}

.button:hover{
    -fx-font-size: 18px;
    -fx-background-color: greenyellow;
}

.text-area{
    -fx-background-color: orange;
    -fx-control-inner-background: #fdfdb0;
    -fx-text-fill: green;
    -fx-highlight-text-fill: greenyellow;
    -fx-highlight-fill: crimson;

    -fx-font-weight: bold;
    -fx-font-style: italic;
}